![CAS Manchester Logo](http://casmanchester.org.uk/images/poster-image.png)

# Pandas for Teachers

## An Introduction

### By Dave Ames 

#### E: david.john.ames@gmail.com / dave.ames@computingatschool.org.uk
#### T: @davidames

Before we do anything else, we need to generate some data to work on. Please take a minute to go to this [Google Form](https://goo.gl/forms/0z9uk5jWlfIp1KAf2) and fill out some data about yourself (only share things you are willing to make public). Thanks!

Once this is done, you'll all need to grab a copy of the results. Go [here](https://drive.google.com/drive/folders/0B0ZesRdIs8dMOXVreUE5WmhNZFE?usp=sharing) to get a copy of the CSV file.

Rename it (if necessary to results.csv and save it in the same directory as this ipynb file)

First of all we need to do some import statements. These can go anywhere in your code, but it's arguably easier to maintain, if all of the imports are kept together in the same cell. So if you need to add anymore modules later on, add the import statement in the next cell and re-evaluate it.

To run the cell either put the cursor in the cell and click on the **run** icon above, or place your cursor in the cell and press **CTRL** and **ENTER** together. (**SHIFT** and **ENTER** also works).

In [1]:
import pandas as pd

Now we are going to load up our CSV file into a Pandas DataFrame. This is a special data structure that has many methods attached that allow it to behave like a Python version of a spreadsheet or a table, but stored in a variable in your program.

Run the code below by clicking into the cell and doing the same as before.

You should see a number appear in the square brackets to the left of the cell, this tells you that the cell has successfully been evaluated (an asterisk appears first to show that the code is in the process of being run). The number equates to what order the cells have been run in.

In [3]:
my_data_frame = pd.read_csv("responses.csv")

To see what's inside any variable at any given point we can just put the name of the variable on its' own and evaluate it, this is the same as in the standard Python Shell, as the Notebook is essentially a souped up version of the Python Shell on serious amounts of steroids.

In [4]:
my_data_frame

,Timestamp,First Name,Surname,Age,Transport,Distance,Postcode,Journey Time
0,07/09/2017 16:14,Sue,Finnigan,53,Car,66,S1 4SP,1.75
1,07/10/2017 14:26,Dave,Gibbs,42,Car,59,S10 1FB,1.25
2,7/13/2017 9:56:52,Dave,Ames,48,Car,78,BL1 3DU,1.50
3,7/13/2017 9:57:27,Leona,So,33,Car,67,M1 3HB,2.00
4,7/13/2017 9:58:14,Carrie,Preddy,32,Car,70,WN75HG,2.00
5,7/13/2017 9:58:30,Dave,Joyce,40,Train,60,S35 0AE,2.80
6,7/13/2017 9:58:36,Chris,Sharples,51,Car,4,YO232QR,0.33
7,7/13/2017 9:58:48,Kamru,Miah,54,Car,5,YO31 9AB,0.25

We can access the data in a variety of ways, but normally we want to use the column headings as a way of identifying the columns. These default to the values that we had when importing the data. We can

In [6]:
my_data_frame.columns

Index(['Timestamp', 'First Name', 'Surname', 'Age', 'Transport', 'Distance',
       'Postcode', 'Journey Time'],
      dtype='object')

In [7]:
my_data_frame.index

RangeIndex(start=0, stop=8, step=1)

In [8]:
my_data_frame.shape

(8, 8)